$degradado: linear-gradient(to left, #f5f5f5, #D971AA);

.header {
    background-color: #f5f5f5;
    background-image: $degradado;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px;
    box-shadow: 0 2px 10px 1px rgba(13, 13, 13,0.7);
    .header__logo {
        height: 90%;
    }
}